body {
  font-family: 'Poppins', sans-serif;
}

/* removing the arrows/spinners for input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.outer-container {
  display: flex;
  height: 100vh;
  width: 100%;

  justify-content: center;
  align-items: center;

  background-color:hsl(0, 0%, 94%);
}

main {
  max-width: 700px;
  background-color: white;

  border-radius: 3% 3% 25% 3%;

  padding: 30px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  
  padding-right: 50px;
}

.input-container h2 {
  font-size: 0.8rem;
  font-weight:400;
  font-style:normal;
  padding: 5px;
  letter-spacing:2px;
  color: hsl(0, 1%, 44%);
}

.input-container p {
  font-style: italic;
  font-weight:400;
  font-size: 0.7rem;
  color: red;
  padding: 5px;
}

input {
  padding: 10px 20px;
  width: 50%;
  
  border: 1px solid hsl(0, 0%, 94%);
  border-radius: 10px;

  font-size: 32px;
  font-weight:700;

  cursor: pointer;
}

.divider-container {
  padding: 10px 10px;
}

hr {
  border: 1px solid hsl(0, 0%, 94%);
}

.arrow-button {
  background-color: hsl(259, 100%, 65%);
  width: fit-content;
  padding: 15px;
  border-radius: 100%;
  cursor: pointer;

  float: right;
  margin-top: -50px;
}

.arrow-button:hover {
  background-color: black;
}

.results-container {
  padding: 20px;
}

h1 {
  font-size: 5rem;
  font-style: italic;
  font-weight: 800;
}

.year-result, .month-result, .day-result {
  color: hsl(259, 100%, 65%);
}