html {
  font-family: 'Poppins', sans-serif;
}

.outer-container {
  display: flex;
  height: 100vh;
  width: 100%;

  justify-content: center;
  align-items: center;

  background-color:hsl(0, 0%, 94%);
}

main {
  max-width: 700px;
  background-color: white;

  border-radius: 3% 3% 25% 3%;

  padding: 30px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  
  padding-right: 50px;
}

.input-container p {
  font-size: 0.8rem;
  font-size:400;
  font-style:normal;
  padding: 5px;
  letter-spacing:2px;
}

input {
  padding: 15px;
  width: 50%;
  border-radius: 10px;

  font-size: 32px;
  cursor: pointer;
}

.divider-container {
  display: flex;
  padding: 10px 10px;
}

.arrow-button {
  background-color: hsl(259, 100%, 65%);
  width: fit-content;
  padding: 15px;
  border-radius: 100%;
  cursor: pointer;
}

.arrow-button:hover {
  background-color: black;
}

.results-container {
  padding: 20px;
}

h1 {
  font-size: 5rem;
  font-style: italic;
  font-weight: 800;
}

.year-result, .month-result, .day-result {
  color: hsl(259, 100%, 65%);
}